.project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container {
    /* max-width: 1140px; */
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 4rem;
    width: 90%;
}

.project-card {
    background: #1a1919;
    padding: 2rem 1.5rem 2rem 1.5rem;
    border-radius: 14px;
}

.project-card img {
    width: 100%;
    border-radius: 7px;
    transition: 0.3s ease-in-out;
}

.project-card:hover img {
    transform: scale(1.3);
}

.project-title {
    color: white;
    padding: 1rem 0;
}

.pro-details {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: justify;
}

.pro-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0.5rem 0;
}

.pro-btns .btn {
    padding: 0.5rem 1rem;
}

.pro-details p {
    word-wrap: break-word;
}

@media screen and (max-width:740px) {
    .project-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
        width: 90vw;
    }

    .project-card {
        width: 90vw;
    }
}